{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
     Software Developer.<br /><br/>
    <p>Currently seeking for full time Opportunity as Full stack Developer / Software Engineer after graduating with Masters degree in Computer Science.

<br/>Offering over 5 years of experience in IT Product development.
<br/>Working knowledge in requirement/analysis, estimation, design, development, testing.

<br/>Known Technologies: Core Java, C#.Net, Python, MVC, Javascript, Jquery, MS SQL Server, Single Page application, HTML5, Bootstrap, Knockout JS, Angular JS, CSS3.

<br/>• Worked with water fall as well as Agile methodology.
<br/>• Experienced in Object oriented design and development with C# as a programming language.
<br/>• Experienced in developing web applications and web services.
<br/>• Worked on developing new applications, up-grading and migrating of existing applications.
<br/>• Good team player with an positive attitude and strong communication skills.
<br/>• Motivated to solve programming challenges.

<br/>Graduate with Masters in Computer Science from University of Alabama in Huntsville.</p>

    Alpharetta, GA, 30005.<br /><br />
    <strong>Phone:</strong>
    470-338-8324<br>
    <strong>Email:</strong>   <a href="mailto:rohitgpawar@gmail.com">rohitgpawar@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/rohitgpawar/">RohitPawar_LinkedIn</a><br/>
    <strong>GitHub:</strong> <a href="https://github.com/rohitgpawar">RohitPawar_GitHub</a>
</address>

{% endblock %}
