<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My FlaskWebApp</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">FlaskWebApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>

                 <ul class="nav navbar-nav navbar-right">
                     {% if session.logged_in %}
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                     {% else %}
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                     {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
    <div style="padding-top: 10px;">
        {% include '_messages.html' %}</div>

        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - FlaskWebApp By <a href="https://www.linkedin.com/in/rohitgpawar/">Rohit Pawar</a></p>
        </footer>
    </div>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
